import React from "react";
import "./styles.scss";


const {{pascalCase name}} = () => {
  return (
    <div className="{{pascalCase name}}">
      {{pascalCase name}}
    </div>
  );
};



export default {{pascalCase name}};